<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Send multimedia message</title>
    <div th:include="fragments/head :: preamble"></div>
    <script type="text/javascript">
        let sandboxNumbers = null;
        let selectedChannel = null;
        let sandboxChecked = null;
        $.getJSON("getSandboxNumbers", data => {sandboxNumbers = data;});
        const msgChannelId = '#msgChannel';
        const sandboxId = '#sandbox';
        const fromId = '#from';
        const populateFromIfSandbox = function() {
            let lastSandboxChecked = sandboxChecked;
            if ((sandboxChecked = $(sandboxId).prop('checked')) && sandboxNumbers) {
                let number = sandboxNumbers[selectedChannel];
                if (number) {
                    $(fromId).val(number);
                }
                else {
                    $(fromId).val('');
                }
            }
            if (lastSandboxChecked && !sandboxChecked) {
                $(fromId).val('');
            }
        };
        const populateMessageTypes = function() {
            let lastSelection = selectedChannel;
            selectedChannel = $(msgChannelId+' option:selected').val();
            if (lastSelection != selectedChannel) {
                $.getJSON("getMessageTypes?channel="+selectedChannel, data => {
                    let html = '';
                    for (let msgType of data) {
                        let displayName = msgType.charAt(0).toUpperCase() + msgType.slice(1).toLowerCase();
                        html += '<option value="'+msgType+'">'+displayName+'</option>\n';
                    }
                    $('#msgType').html(html);
                });
            }
            populateFromIfSandbox();
        };
        function setStatus(messageId, timeout) {
            const query = "getMessageStatusUpdate?timeout="+timeout+"&messageId="+messageId;
            $.getJSON(query, data => {
                console.log(data);
                $('#status').text(data.text);
            });
        }
        function setInbound(messageId, timeout) {
            const query = "getInboundMessage?timeout="+timeout+"&messageId="+messageId;
            $.getJSON(query, data => {
                console.log(data);
                $('#inbound').text(data.text);
            });
        }
        $(document).ready(() => {
            populateMessageTypes();
            $(msgChannelId).change(populateMessageTypes);
            $(sandboxId).change(populateMessageTypes);

            const messageId = $('#messageId').text();
            if (messageId) {
                setStatus(messageId, 2000);
                setInbound(messageId, 5000);
            }
        });
    </script>
</head>
<body>
<a href="/">Home</a><br>
<a href="https://developer.vonage.com/en/messages/overview">Messages API overview</a><br>
<hr><br>
<form action="#" th:action="@{/sendMessage}" th:object="${messageParams}" method="post">
    <p>Channel: <br><select id="msgChannel" th:field="*{selectedChannel}">
        <th:block th:each="channelOpt: *{channelOptions}">
            <option th:text="${#strings.capitalize(channelOpt.name.toLowerCase)}" th:value="${channelOpt.name}"></option>
        </th:block>
    </select></p>
    <p>Media type: <br><select id="msgType" th:field="*{selectedType}"></select></p>
    <p>Sandbox: <input type="checkbox" id="sandbox" th:field="*{sandbox}"></p>
    <p>From: <input type="text" minlength="2" maxlength="50" id="from" th:field="*{from}"/></p>
    <p>To: <input type="text" minlength="2" maxlength="50" th:field="*{to}"/></p>
    <p>Text: <input type="text" maxlength="1000" th:field="*{text}"/></p>
    <p>URL: <input type="url" maxlength="2000" th:field="*{url}"/></p>
    <input type="submit" value="Send">
</form>
<hr><br>
<h3 th:text="${result}"></h3>
<h3 id="messageId" th:text="${messageParams.messageId}"></h3>
<p id="status"></p>
<hr><br>
<p id="inbound"></p>
<hr>
</body>
</html>