<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Send a verification</title>
    <div th:include="fragments/head :: preamble"></div>
    <script>
        const capitalFirstLetter = str => str.charAt(0).toUpperCase() + str.slice(1).toLowerCase();

        function updateVerifySnippet() {
            const selectedChannel = $('#selectedChannel option:selected').val()
            const brand = $('#brand').val();
            const to = $('#to').val();
            const codeLength = $('#codeLength');
            const from = $('#from');

            const workflow = (() => {
                switch (selectedChannel) {
                    default: return `new ${capitalFirstLetter(selectedChannel)}Workflow("${to}")`;
                    case 'WHATSAPP_INTERACTIVE': return `new WhatsappCodelessWorkflow("${to}", "${from.val()}")`
                    case 'SILENT_AUTH': return `new SilentAuthWorkflow("${to}")`;
                }
            })();

            if (selectedChannel == "WHATSAPP_INTERACTIVE" || selectedChannel == "SILENT_AUTH") {
                codeLength.hide();
            }
            else {
                codeLength.show();
            }
            if (selectedChannel == "WHATSAPP") {
                from.show();
            }
            else {
                from.hide();
            }

            let additionalBuilderProps = '';
            if (codeLength.val()) {
                const indent = "\n        ";
                additionalBuilderProps += indent + `.codeLength(${codeLength.val()})`;
            }

            updateSnippet(`
var response = client.getVerify2Client().sendVerification(
    VerificationRequest.builder()
        .brand("${brand}")
        .addWorkflow(${workflow})${additionalBuilderProps}
        .build()
);
`           );
        }

        $(document).ready(() => {
            updateVerifySnippet();
            $('#selectedChannel, #brand, #to, #from, #codeLength').change(() => updateVerifySnippet());
        });
    </script>
</head>
<body>
<a href="/">Home</a><br>
<a href="https://developer.vonage.com/en/verify/overview">Verify API overview</a><br>
<hr><br>
<div class="flex">
    <div class="w-1/3 p-4">
        <form action="#" th:action="@{/postVerificationRequest}" th:object="${verifyParams}" method="post">
            <p>Brand name: <input type="text" th:field="*{brand}" th:id="brand"/></p>
            <p>Channel: <br><select th:field="*{selectedChannel}" th:id="selectedChannel">
                <th:block th:each="channelOpt: *{channelOptions}">
                    <option th:text="${channelOpt.name}" th:value="${channelOpt.name}" selected></option>
                </th:block>
            </select></p>
            <p>To: <input type="text" minlength="5" maxlength="320" th:field="*{to}" th:id="to"/></p>
            <p>From: <input type="text" minlength="0" maxlength="320" th:field="*{from}" th:id="from"/></p>
            <p>Code length: <input type="number" min="4" max="10" th:field="*{codeLength}" th:id="codeLength"/></p>
            <input type="submit" value="Send">
        </form>
    </div>
    <div th:include="fragments/head :: java-code-snippet"></div>
</div>
<hr>
</body>
</html>