<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Make a voice call</title>
    <div th:include="fragments/head :: preamble"></div>
    <script type="text/javascript">
        function setStatus(callId, timeout) {
            const query = "getVoiceCallStatusUpdate?timeout="+timeout+"&callId="+callId;
            $.getJSON(query, data => {
                console.log(data);
                $('#status').text(data.status);
                $('#detail').text(data.detail);
            });
        }
        $(document).ready(() => {
            const callId = $('#callId').text();
            if (callId) {
                setInterval(setStatus(callId, 1000), 500);
            }
        });
    </script>
</head>
<body>
<a href="/">Home</a><br>
<a href="https://developer.vonage.com/en/voice/overview">Voice API overview</a><br>
<hr><br>
<form action="#" th:action="@{/textToSpeechRequest}" th:object="${voiceCallParams}" method="post">
    <p>To: <input type="tel" th:field="*{toPstn}"/></p>
    <p>Text to Speech: <input type="text" th:field="*{tts}"/></p>
    <input type="submit" value="Call">
</form>
<hr><br>
<h3 id="callId" th:text="${voiceCallParams.callId}"></h3>
<p id="status"></p>
<p id="detail"></p>
<hr>
</body>
</html>